name: Test

on: [push]

jobs:
  lint:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: Install Module
        run: npm i
      - name: Lint
        run: npm run lint
  test:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: Install Module
        run: npm i
      - name: "Test"
        run: npm run test:cov